.profile-avatar {
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.profile-avatar:hover {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--white);
  right: 0;
  width: 150px;
  border-radius: var(--border-radius-sm);
  border:1px solid var(--white-60);
  overflow: hidden;
  top: 3em;
}


.dropdown-item {
  padding: 0.5em;
  display: block;
  font-weight: 300;
  color: var(--text);
}

.dropdown-item:hover {
  background-color: var(--white-20);
}

.dropdown-menu.visible {
  display: flex !important;
}