.profile-avatar {
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.profile-avatar:hover {
  box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: var(--white);
  right: 0;
  width: 190px;
  border-radius: var(--border-radius-sm);
  border:1px solid var(--white-60);
  overflow: hidden;
  top: 3em;
}


.dropdown-item,
.sub-list {
  padding: 0.7em 1em;
  display: block;
  font-weight: 300;
  color: var(--text);
}

.dropdown-item:hover {
  background-color: var(--white-20);
}

.dropdown-menu.visible {
  display: flex !important;
}

.dropdown-menu details[open] {
  background: var(--white-20);
}

.dropdown-menu details[open] summary {
  color: var(--black-60);
}

.details-list {
  margin-top: 0.6em;
}

.details-list a:not(:last-child) {
  border-bottom: 1px solid var(--white-40);
}

.details-list .dropdown-item:hover {
  background: var(--white);
  border-radius: var(--border-radius-sm);
}

.sub-list summary i {
  transition: all 0.2s ease;
}

details summary::-webkit-details-marker {
  display:none;
}

.sub-list[open] summary i {
  transform: rotateZ(90deg);
}