.form-input {
  padding: 0.5em;
  background-color: var(--input-light);
  border:none;
  border-radius: var(--border-radius-5);
}

.input-wrapper.with-icon {
  padding-left: 1em;
  border: 1px solid var(--border-light);
  background-color: var(--input-light);
  border-radius: 5px;

}

.input-wrapper.with-icon i {
  margin-right: 0.5em;
  color: rgb(30%, 30%, 30%);
}