.btn {
  width: 100%;
  font-weight: 500;
  padding: 0.5em;
  transition: all 0.2s ease;
}

.btn.primary {
  background: var(--greenGradient);
  color: var(--white);
  border-radius: var(--border-radius-sm);
}

.btn.secondary {
  border-radius: var(--border-radius-sm);
  background: var(--purple-0);
  color: var(--white);
  height: 100%;
    border: 2px solid transparent;

}

.btn.secondary:hover {
  background-color: var(--white);
  color: var(--purple-0);
  border: 2px solid var(--purple-0);
}

.btn-third {
  background: var(--white-40);
  color: var(--text);
  width: fit-content;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  border-radius: var(--border-radius-sm);

}

.btn-third.danger {
  color: var(--black-40);
}

.btn-third.danger:hover {
  background: var(--redGradient);
  color: var(--white);
}

.btn-third.green {
  color: var(--black-40);
}

.btn-third.green:hover {
  background: var(--greenGradient);
  color: var(--white);
}