.btn {
  width: 100%;
  font-weight: 500;
  padding: 0.5em;
  transition: all 0.2s ease;
}

.btn.primary {
  background: var(--greenGradient);
  color: var(--white);
  border-radius: var(--border-radius-5);
}
