.featured-wrapper {
  width: 100%;
  border-radius: var(--border-radius-lg);
}

.featured-thumbnail {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.featured-thumbnail.large {
  max-width: 640px;
  height: 360px;
}

.featured-thumbnail.small {
  max-width: 480px;
  height: 270px;
}

.featured-title.large {
  flex: 1;
  margin-right: 3em;
}

.featured-title h1 {
  font-size: 3rem;
}
