.featured-wrapper {
  width: 100%;
  border-radius: var(--border-radius-lg);
  display: flex;
}

.featured-thumbnail {
  width: 100%;
  max-width: 640px;
  height: 360px;
  object-fit: cover;
  border-radius: var(--border-radius-lg);
}

.featured-title {
  flex: 1;
  margin-right: 3em;
}

.featured-title h1 {
  font-size: 3rem;
}