.featured-wrapper {
  width: 100%;
  border-radius: var(--border-radius-lg);
  display: flex;
  background: var(--white);
}

.featured-thumbnail {
  width: 100%;
  max-width: 500px;
  border-radius: var(--border-radius-sm);
}

.featured-title {
  flex: 1;
  margin-right: 3em;
}

.featured-title h1 {
  font-size: 3rem;
}