

:root {
  --bg-0: rgb(95%, 95%, 96%);
  --text: rgb(25%, 25%, 25%);
  --paragraph: rgb(50%, 50%, 50%);
  --input-light: rgb(93.3%, 93.3%, 93.3%);
  --border-light: rgb(88%, 88%, 88%);
  --border-radius-sm: 5px;
  --border-radius-md: 8px;
  --border-radius-lg: 10px;
  --white: rgb(100%,100%,100%);
  --blueGradient: linear-gradient(214deg, rgba(63,146,240,1) 0%, rgba(10,104,210,1) 100%);
  --greenGradient: linear-gradient(31deg, rgba(62,189,147,1) 0%, rgba(31,214,154,1) 100%);
  --redGradient: linear-gradient(to right top, #de3a11, #e6491c, #ef5727, #f76431, #ff703b);
  --darkGradient: linear-gradient(to right, #051937, #0c2b56, #143d77, #1d519a, #2666bf);
  --blue: rgb(1, 51, 125);
  --blue-20: rgb(5, 82, 181);
  --blue-40: rgb(71, 163, 243);
  --black: rgb(31, 41, 51);
  --black-20: rgb(51, 64, 77);
  --black-40: rgb(82, 96, 109);
  --black-60: rgb(97, 110, 124);
  --white-20: rgb(245, 247, 250);
  --white-40: rgb(228, 231, 235);
  --white-60: rgb(203, 210, 217);
  --purple-0: #8496F9;
  --hr: rgb(85%, 85%, 85%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
  font-family: 'Roboto', sans-serif;

}

body {
  font-family: 'Muli', sans-serif;
  background: var(--bg-0);
}

p {
  line-height: 1.3em;
  color: var(--paragraph);
  font-weight: 300;
}

.link {
  color: var(--blue-20);
  text-decoration: underline;
}

.bg {
  background-color: var(--white);
  padding: 0.5em;
  border-radius: var(--border-radius-sm);
}

hr {
  height: 1px !important;
  border: none !important;
  width: 100%;
  margin: 1em 0 !important;
  background-color: var(--hr) !important;
}

.profile-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}


.Toastify__toast {
  width: 100%;
  max-width: 500px;
  border-radius: 5px !important;
  background: var(--bgLight) !important;
  padding-left: 1em !important;
  padding-right: 1em !important;

} 

.Toastify__toast--success {
  color: var(--white);
  background: var(--greenGradient) !important;
}

.Toastify__toast-container {
  width: 100% !important;
  max-width: 500px;
}

.Toastify__toast--error {
  color: var(--white);
  background: var(--redGradient) !important;
}

.ellipses {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}