

:root {
  --text: rgb(9.7%, 9.7%, 9.7%);
  --inputLight: rgb(93.3%, 93.3%, 93.3%);
  --borderLight: rgb(88%, 88%, 88%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--text);
}

body {
  font-family: 'Muli', sans-serif;
}