

:root {
  --bg-0: rgb(95%, 95%, 96%);
  --text: rgb(9.7%, 9.7%, 9.7%);
  --paragraph: rgb(35%, 35%, 35%);
  --input-light: rgb(93.3%, 93.3%, 93.3%);
  --border-light: rgb(88%, 88%, 88%);
  --border-radius-5: 5px;
  --border-radius-8: 8px;
  --border-radius-10: 10px;
  --white: rgb(100%,100%,100%);
  --blueGradient: linear-gradient(214deg, rgba(63,146,240,1) 0%, rgba(10,104,210,1) 100%);
  --greenGradient: linear-gradient(31deg, rgba(62,189,147,1) 0%, rgba(31,214,154,1) 100%);
  --redGradient: linear-gradient(to right top, #de3a11, #e6491c, #ef5727, #f76431, #ff703b);
  --darkGradient: linear-gradient(to right, #051937, #0c2b56, #143d77, #1d519a, #2666bf);
  --blue: rgb(1, 51, 125);
  --blue-20: rgb(5, 82, 181);
  --blue-40: rgb(71, 163, 243);
  --black: rgb(31, 41, 51);
  --black-20: rgb(51, 64, 77);
  --black-40: rgb(82, 96, 109);
  --black-60: rgb(97, 110, 124);
  --white-20: rgb(245, 247, 250);
  --white-40: rgb(228, 231, 235);
  --white-60: rgb(203, 210, 217);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}

body {
  font-family: 'Muli', sans-serif;
  background: var(--bg-0);
}

p {
  line-height: 1.8em;
  color: var(--paragraph);
}

.link {
  color: var(--blue-20);
  text-decoration: underline;
}