.status-wrapper {
  display: flex;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  justify-content: center;
  border-radius: var(--border-radius-sm);
}

.status-wrapper p {
  color: var(--white);
  font-weight: 500;
}

.status-wrapper i {
  margin-right: 1em;
}