.form {
  width: 100%;
  max-width: 600px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  border-radius: var(--border-radius-8);
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.3em;
  color: var(--black-60);
  width: 100%;
}

.field-group i {
  color: var(--black-60);
  margin-right: 1em;
  font-size: 1.5em;
}

.form-input {
  padding: 0.5em;
  background-color: var(--input-light);
  border:none;
  border-radius: var(--border-radius-5);
  margin-top: 0.3em;
  width: 100%;
}