.form {
  width: 100%;
  max-width: 600px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  border-radius: var(--border-radius-8);
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.3em;
}